PORT=5000
NODE_ENV=development

# MongoDB
MONGO_URI=mongodb://localhost:27017/billing_saas

# JWT
JWT_SECRET=change_this_to_a_long_random_string
JWT_EXPIRES_IN=7d
JWT_REFRESH_SECRET=change_this_too_another_long_random_string
JWT_REFRESH_EXPIRES_IN=30d

# OTP (optional - plug in provider like MSG91 / Twilio / SES later)
OTP_ENABLED=false

# CORS
CLIENT_URL=http://localhost:3000

# Nodemailer / Email SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-google-app-password
EMAIL_FROM=MoneyWise <your-email@gmail.com>
# Optional: Set to true if you want the 6-digit OTP displayed on the screen for easy local testing
SHOW_DEV_OTP=true
